db/
history
history.sqlite
log/
pid/
security/
*.pyc
*.pyo
*~
mViewer.log

# eclipse IDE
.project
.pydevproject
.settings

# Bluesky session logs
.logs/

# Microsoft VSCode editor settings
.vscode/

# SPEC data files
2*.dat
